head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl' crossorigin='anonymous')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans')
  link(rel='stylesheet' href='/stylesheets/about.css')
  script(src='jquery-3.5.1.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://kit.fontawesome.com/007ee52d35.js' crossorigin='anonymous')

.topnav
  a(href='/') E-Voting
  a(href='/login') Login
  a(href='/register') Register
  a.active(href='/about') About Us
 
.wrapperMain
  section#amazingTeam.clear
    .containerContent
      .set_size_section1
        h2.services_h2.center OUR CORE TEAM: AMIGOS
        p.services_p.center Mentored By 
          b Praveen Hegde
        article.article_center4
          #modal-9.md-modal.md-effect-9
            .md-content
              h3 Contact information
          .row
            .col-sm-6.col-md-3
              .thumbnail
                article.section4_article.article1
                  .itemli
                    .ch-item
                      .ch-info
                        .ch-info-front.ch-img-1
                        .ch-info-back
                          h3 Team Amigos
                          p
                            | Contact information
                            a#idPerson1.md-trigger Here
                  h3 Sakshi Kapse
                  p Jabalpur,Madhya Pradesh
                  ul.icon
                    li.icon_twitter
                    li.icon_fb
                    li.icon_pinterest
            .col-sm-6.col-md-3
              .thumbnail
                article.section4_article
                  .itemli
                    .ch-item
                      .ch-info
                        .ch-info-front.ch-img-2
                        .ch-info-back
                          h3 Team Amigos
                          p
                            | Contact information
                            a#idPerson2.md-trigger Here
                  h3 Sk Sujauddin
                  p Kolkata,West Bengal
                  ul.icon
                    li.icon_twitter
                    li.icon_fb
                    li.icon_pinterest
            .col-sm-6.col-md-3
              .thumbnail
                article.section4_article
                  .itemli
                    .ch-item
                      .ch-info
                        .ch-info-front.ch-img-3
                        .ch-info-back
                          h3 Team Amigos
                          p
                            | Contact information
                            a#idPerson3.md-trigger Here
                  h3 Akhil Pillai
                  p Nasik,Maharashtra
                  ul.icon
                    li.icon_twitter
                    li.icon_fb
                    li.icon_pinterest
            .col-sm-6.col-md-3
              .thumbnail
                article.section4_article
                  .itemli
                    .ch-item
                      .ch-info
                        .ch-info-front.ch-img-4
                        .ch-info-back
                          h3 Team Amigos
                          p
                            | Contact information
                            a#idPerson4.md-trigger Here
                  h3 Mohammed Azahar
                  p Guntur,Andhra Pradesh
                  ul.icon
                    li.icon_twitter
                    li.icon_fb
                    li.icon_pinterest
.footer
  | 
  strong Made by Team Amigos
  | .                    
         
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js' integrity='sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0' crossorigin='anonymous')
script(src='/javascripts/about.js')
