head
  script.
    window.setTimeout(function(){
    window.location.href = "/login";
    }, 2000);
  link(rel='stylesheet' href='/stylesheets/reg_success.css')
br
br
br
h1 Just a moment...
.slider
  .line
  .break.dot1
  .break.dot2
  .break.dot3
p
  | Registration Successful...... Please Wait While We Redirect You Back 
  //- a(href='#0') Click here.
