doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Elections Results
  link(rel='stylesheet' href='/stylesheets/winner.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' type='text/css')
  script(src='/javascripts/winner.js')
  script(src='https://www.gstatic.com/charts/loader.js')

if election_status == "Yes"
  .py-2
    .container
      .row
        .col-md-12
          h1.display-4 Elections are Still Live Please Wait
else if election_status == "No"
  .py-2
    .container
      .row.winner
        .col-md-12
          h1#winner_name.display-4 Winner is : {{winner}}
  .py-5
    .container
      .row.boxchart
        .col-md-12
          div#resChart
      

script(src='https://code.jquery.com/jquery-3.3.1.min.js')
script(src='/javascripts/result_page.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')

