doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // PAGE settings
  title Dashboard | Election Authority
  // CSS dependencies
  link(rel='stylesheet' href='/stylesheets/elegant.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' type='text/css')
  // Script: Make my navbar transparent when the document is scrolled to top
  script(src='/javascripts/navbar-ontop.js')
  // Script: Animated entrance
  script(src='/javascripts/animate-in.js')
if election_status == "No"
  .py-1
    .container
      .row
        .col-md-12
          h1.display-2 Welcome #{user_fullname}, Elections are not started yet
else if election_status == "Yes"
  .py-1
    .container
      .row
        .col-md-12
          h1.display-2 Welcome #{user_fullname}, Select a Candidate to Vote
  .mt-5
    .container
      .row
        .col-md-3
          h1 Candidate Name
        .col-md-3
          h1 Action
  each val in candidate_details
    .py-1
      .container
        .row
          .col-md-3
            h1 #{val.candidate_name}
          .col-md-3
            a.btn.btn-primary.w-75(href='#' onclick='cast_vote("'+val.candidate_id+'")') Vote
script(src='https://code.jquery.com/jquery-3.3.1.min.js')
script(src='/javascripts/vote_scripts.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')
// Script: Smooth scrolling between anchors in a same page
script(src='/javascripts/smooth-scroll.js')
